*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.webgl
{
  position: fixed;
  top: 0;
  left: 0;


}

.threejs__intro{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.next{
  color: #22d00c;
  position: absolute;

}

.pin-spacer{
  pointer-events: none;
}
